workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"

stages:
  - build

build-job:
  stage: build
  image: maven:3.9.11-eclipse-temurin-21
  tags:
    - saas-linux-small-amd64
  script:
    - mvn -v
    - mvn clean package -DskipTests=false
  artifacts:
    paths:
      - target/*.jar
