workflow:
  rules:
    - if: $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"

stages:
  - build

build-job:
  stage: build
  image: eclipse-temurin:21-jdk
  tags:
    - saas-linux-small-amd64
  script:
    - chmod +x mvnw || true
    - ./mvnw clean package -DskipTests=false || mvn clean package -DskipTests=false
  artifacts:
    paths:
      - "./target/*.jar"
