workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"

stages:
  - build
  - test

build-job:
  stage: build
  image: maven:3.9.11-eclipse-temurin-21
  script:
    - mvn -B clean package -DskipTests=false
  artifacts:
    paths:
      - target/*.jar

semgrep-sast:
  stage: test
  image: semgrep/semgrep:latest
  needs: ["build-job"]
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "main"
      when: always
  script:
    - semgrep ci --config auto --gitlab-sast --output gl-sast-report.json || true
  artifacts:
    when: always
    reports:
      sast: gl-sast-report.json
    paths:
      - gl-sast-report.json
