openapi: 3.0.3
info:
  title: Course Management API
  version: "1.0"
servers:
  - url: http://localhost:8080
paths:
  /actuator/health:
    get:
      responses:
        "200":
          description: OK